.login-popup{
    position: absolute;
    z-index: 1;
    width: 100%;
    height: 100%;
    background-color: #00000090;
    display: grid;
}
.login-popup-container{
    place-self: center;
    width: max(23vw,330px);
    color: #808080;
    background-color: white;
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 25px 30px;
    border-radius: 8px;
    font-size: 14px;
}
.login-popup-title{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: black;
}
.login-popup-title img{
    width:16px;
    cursor: pointer;
}
.login-popup-inputs{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.login-popup-inputs input{
    outline: none;
    border: 1px solid #c9c9c9;
    padding: 10px;
    border-radius: 4px;
}
.login-popup-container button{
    border: none;
    padding: 10px;
    border-radius: 4px;
    color: white;
    background-color: tomato;
    font-size: 15px;
    cursor: pointer;
}
.login-popup-condition{
    display: flex;
    align-items: start;
    gap: 8px;
    margin-top: -15px;
}
.login-popup-condition input{
    margin-top: 5px;
}
.login-popup p span{
    color: tomato;
    font-weight: 500;
    cursor: pointer;
}
.styled-dropdown {
    width: 100%;
    padding: 10px;
    /* margin: 10px 0; */
    border: 2px solid #ccc;
    border-radius: 8px;
    font-size: 16px;
    background-color: white;
    color: #333;
    cursor: pointer;
    transition: border-color 0.3s ease-in-out;
    border-radius: 8px;
  }
  
  /* Change border color when focused */
  /* .styled-dropdown:focus { */
    /* border-color: #ff6600; */
    /* outline: none; */
  /* } */
  
  /* Dropdown arrow styling */
  .styled-dropdown::-ms-expand {
    display: none; /* Remove default arrow in IE */
  }
  
  /* .styled-dropdown:hover { */
    /* border-color: #ff6600; */
  /* } */
  
  /* Customizing dropdown options */
  .styled-dropdown option {
    background-color: white;
    color: #333;
    font-size: 16px;
    /* border-radius: 50%; */
  }
  